apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus-aod:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      httpMethod: "POST"

  - name: Loki
    type: loki
    access: proxy
    url: http://loki-aod:3100
    editable: true
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceUid: prometheus
          matcherRegex: "jobId=(\\d+)"
          name: JobID
          url: "/explore?left=%5B%22now-1h%22,%22now%22,%22Prometheus%22,%7B%22expr%22:%22crawl_job_duration%7Bjob_id%3D%27$${__value.raw}%27%7D%22%7D%5D"
